<header class="page-header">
	<figure class="figure">
		<img class="figure-image--logo" src="/assets/images/logo.png" alt="logo">		
	</figure>
	<h1 class="page-header--author noselect">wojtek2kdev</h1>
	<ul class="page-header--socials">
		<li><a href="/feeds/feed.xml" target="_blank">r</a></li>
		<li><a href="https://github.com/wojtek2kdev" target="_blank">&lt;</a></li>
		<li><a href="https://www.linkedin.com/in/wojciech-sadowski-9442a4157/">i</a></li>
		<li><a href="">f</a></li>
		<li><a href="">y</a></li>
	</ul>
	<h2 class="page-header--quote noselect">Odkrywajmy razem świat IT!</h2>
</header>
