<nav class="page-navigation">
	<ul class="menu">
		<li class="menu-item">
			<a href="/" class="menu-item--title noselect">
			Strona główna
			</a>
		</li>
		<li class="menu-item">
			<a class="menu-item--title noselect">
			O mnie
			</a>
		</li>
		<li class="menu-item">
			<a class="menu-item--title menu-item--title_submenu noselect">
			Kategorie
			</a>
			<ul class="submenu">
				{% for category in site.categories %}
				{% capture category_name %}{{ category | first }}{% endcapture %}
				<li class="submenu-item">
					<a href="/{{ category_name }}" class="submenu-item--title">
						{{ site.categories_names[category_name] }}
					</a>
				</li>
				{% endfor %}
			</ul>
		</li>
	</ul>
</nav>
