{% if paginator.total_pages > 1 %}
<nav class="pagination" aria-label="Paginacja">
	<ul class="pagination-list">
	{% if paginator.previous_page %}
	<li class="pagination-item">
		<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="pagination-link">&vltri;</a>
	</li>
	{% endif %}

		{% if paginator.page > 2 and paginator.page < paginator.total_pages - 1 %} <!-- -->
			{% assign start = paginator.page | minus: 1 %}
			{% assign end = paginator.page | plus: 1 %}
		{% elsif paginator.page > 2 and paginator.page > paginator.total_pages - 1 %}
			{% assign start =  paginator.page | minus: 1 %}
			{% assign end = paginator.total_pages %}
		{% else %}
			{% assign start = 1 %}
			{% assign end = 3 %}
		{% endif %}

	{% for page in (start..end) %}
	{% if page == paginator.page %}
		<li class="pagination-item">
			<span class="pagination-link pagination-link--label">{{ page }}</span>
		</li>
	{% elsif page == 1 %}
		<li class="pagination-item">
			<a href="/" class="pagination-link">{{ page }}</a>
		</li>
	{% else %}
		<li class="pagination-item">
			<a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}" class="pagination-link link">{{ page }}</a>
		</li>
	{% endif %}
	{% endfor %}

	{% if paginator.next_page %}
	<li class="pagination-item pagination-item--next">
		<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="pagination-link">&vrtri;</a>
	</li>
	{% endif %}
	</ul>
</nav>
{% endif %}
