.page-footer {

	color: $mainColor;

	border-top: 4px dashed $mainColor;

	margin-top: 20px;

}

.page-footer--copyright {

	font-family: Blrrpixs016;

	padding-left: 20px;

}

@media all and (max-width: 670px){

	.page-footer--copyright {

		text-align: center;
	
	}

}
