.page-header {
	
	height: 300px;

	padding-top: 20px;

	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-template-rows: 80px auto 1fr;
	grid-gap: 10px;

	background: $backgroundColor;

}


.figure {

	grid-column: 1 / 2;
	grid-row: 1 / 4;

}

.figure-image--logo {

	width: 200px;
	height: auto;

}

.page-header--author {

	margin: 0;

	font-family: Blrrpixs016;
	font-size: 2.5rem;
	text-shadow: 3px 3px green;
	color: $mainColor;

	cursor: default;

}

.page-header--quote {

	font-family: Blrrpixs016;
	font-size: 1.5rem;

	margin: 0;

	color: $mainColor;

	cursor: default

}

.page-header--socials {

	list-style-type: none;

	display: flex;
	flex-flow: row;

	width: 230px;

	padding: 0;
	margin-right: 10px;

}

.page-header--socials > li {

	flex: 1;

	height: auto;

	position: relative;
	padding-top: 10%;

	margin: 0px 10px;

}

.page-header--socials > li > a {

	font-family: Socials;
	font-size: 1.5rem;
	text-decoration: none;

	transition: font-size .2s ease-in-out; 

	color: $mainColor;

}

.page-header--socials > li > a:hover {

	font-size: 1.8rem;

	transition: font-size .2s ease-in-out; 

}


@media all and (max-width: 995px) and (min-width: 670px){

	.page-header--socials {

		grid-column: 2 / 3;
		grid-row: 3 / 4;

	}

	.page-header--quote {

		grid-column: 2 / 3;
		grid-row: 2 / 3;

	}

}

@media all and (max-width: 670px){

	.page-header {

		display: flex;
		flex-flow: column;
		align-items: center;
		align-content: center;

		height: auto;

	}

	.page-header--socials {

		order: 1;

	}

	.page-header--author, .page-header--quote {

		width: 100%;
		text-align: center;

	}

}
