.page-navigation {

 height: 80px;

 border-top: 4px dashed $mainColor;
 border-bottom: 4px dashed $mainColor;

 background: $backgroundColor;

}

.menu {

	height: 100%;

	display: flex;
	flex-flow: row;

	list-style-type: none;

}

.menu-item {

	flex: 1;

	color: $mainColor;

	position: relative;

}

.menu-item:hover {

	cursor: pointer;

}

.menu-item--title {

	margin: 0;

	width: 100%;

	font-size: 1.2rem;
	font-family: Blrrpixs016;
	text-align: center;
	text-decoration: none;

	color: $mainColor;


	position: absolute;
	top: 50%;
	transform: translateY(-50%);


}

.menu-item:hover > .menu-item--title {

	font-weight: bold;
	text-shadow: 2px 2px green;

	transition: text-shadow .2s ease-in-out;

}


.menu-item--title_submenu:before {

	content: '\025B8';

}

.menu-item:hover > .menu-item--title_submenu:before {

	content: "\025BE";

}

.submenu {

	display: none;
	flex-flow: column;

	position: relative;

	list-style-type: none;

	padding-top: 4px;
	
	margin-top: 80px;

}

.menu-item:hover > .submenu {

	display: flex;

}

.submenu-item--title:hover {

	color: $backgroundColor;
	background: $mainColor;

}

.submenu-item--title {

	display: block;

	font-size: 1.2rem;
	text-align: center;
	font-family: Blrrpixs016;
	text-decoration: none;
	color: $mainColor;
	background: $backgroundColor;

	padding: 10px 0px;

}

.menu-icon {

	width: 50px;

	display: none;

	fill: $mainColor;

	position: fixed;
	left: 100%;
	transform: translateX(-100%);

	padding: 10px;

}


@media all and (max-width: 670px){

	.page-navigation {

		display: none;

	}

	.menu-icon {

		display: block;

	}

}

.menu-icon--hidden {

	display: none;

}
