.pagination {

	position: relative;
	height: 50px;

	margin: 10px 0px;

}

.pagination-list {

	display: flex;
	flex-flow: row;

	align-items: center;
	justify-content: center;

	list-style-type: none;

	position: absolute;
	left: 50%;
	transform: translateX(-50%);

	width: 800px;
	height: inherit;

}

.pagination-item {

	position: relative;
	height: 100%;

	margin: 0px 5px;

	border-width: 6px 3px 3px 6px;
	border-color: $mainColor green green $mainColor;
	border-style: solid;

	flex: 0 1 50px;

}

.pagination-item:hover {

	border-width: 3px;

}

.pagination-item--dots {

	border: none;
	color: $mainColor;

}

.pagination-link {

	text-decoration: none;
	text-align: center;
	color: $mainColor;
	font-size: 1.5rem;
  font-family: Blrrpixs016; 

	position: absolute;
	width: 100%;

}

.pagination-link--label {

	color: $linkColor !important;

}
