<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}" prefix="og: http://ogp.me/ns#" vocab="http://schema.org">

  {% include head.html %}

  <body>
		<div class="page">
			{% include mobile-navbar.html %}
			{% include header.html %}

			{% include navbar.html %}

			<main class="page-content">
					{{ content }}
			</main>
			{% include footer.html %}
			<script>

				(() => {

					mobileCategories.onclick = function() {
						this.classList.toggle("nav-element--title_submenu-active");
					}

					home.onclick = () => location.href = '/';

					const classHidden = "icon-hidden";

					[menuOpen, menuClose].forEach(n => { 
						n.addEventListener("click", () => { 
							[menuOpen, menuClose].forEach(({ classList }, i) => {
								classList.toggle(classHidden);
								if(i == 1) mobileNav.classList.toggle("mobile-nav--active");
							});
						}); 														 
					});

				})();

			</script>
		</div>
  </body>

</html>
